/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: #e2e1e0;
}

.clearfix {
    clear: both;
}

.tiles {
    width: 90%;
    max-width: 1300px;
    padding: 0;
    margin: 0 auto;
}

.card-container {
    margin: 10px;
    width: 350px;
    height: 240px;
    float: left;
}

.card {
    position: absolute;
    width: 350px;
    height: 240px;
}

.card-face {
    margin: 0;
    width: 100%;
    height: 100%;
}

.tile {
    background-color: tomato;
    height: 240px;
    color: white;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 100%;
}

.tile-icon {
    font-size: 5.5em;
    padding: 40px 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tile-text {
    font-size: 1.5em;
    padding: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-transform: uppercase;
}

.tile hr {
    background-color: white;
    color: white;
    margin: auto;
    width: 20%;
    border: none;
    height: 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tile:hover, .tile.active {
    cursor: pointer;
    background-color: white;
    color: tomato;
}

.tile:hover .tile-icon, .tile.active .tile-icon {
    padding: 60px 20px 20px 20px; 
}

.tile:hover .tile-text, .tile.active .tile-text {
    padding: 15px 20px 25px 20px;
}

.tile:hover hr, .tile.active hr {
    height: 1px;
    width: 60%;
    background-color: tomato;
    color: tomato;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: black;
    opacity: 0;
    cursor: pointer;
}

.popup-overlay.active {
    display: block;
}

/* COLORS */

.tile.color-0 {
    background-color: #8BC34A;
}

.tile.color-1 {
    background-color: #3C3B5C;
}

.tile.color-2 {
    background-color: #FF9000;
}

.tile.color-3 {
    background-color: #FBD400;
}

.tile.color-4 {
    background-color: #7B3C59;
}

.tile.color-5 {
    background-color: #0D7377;
}

.tile.color-6 {
    background-color: #55B3F3;
}

.tile.color-7 {
    background-color: #B31313;
}

.tile.color-8 {
    background-color: #99B0C2;
}

.tile.color-9 {
    background-color: #8C7676;
}

.tile.color-0:hover, .tile.color-0.active {
    color: #8BC34A;
    background-color: white;
}

.tile.color-1:hover, .tile.color-1.active {
    color: #3C3B5C;
    background-color: white;
}

.tile.color-2:hover, .tile.color-2.active {
    color: #FF9000;
    background-color: white;
}

.tile.color-3:hover, .tile.color-3.active {
    color: #FBD400;
    background-color: white;
}

.tile.color-4:hover, .tile.color-4.active {
    color: #7B3C59;
    background-color: white;
}

.tile.color-5:hover, .tile.color-5.active {
    color: #0D7377;
    background-color: white;
}

.tile.color-6:hover, .tile.color-6.active {
    color: #55B3F3;
    background-color: white;
}

.tile.color-7:hover, .tile.color-7.active {
    color: #B31313;
    background-color: white;
}

.tile.color-8:hover, .tile.color-8.active {
    color: #99B0C2;
    background-color: white;
}

.tile.color-9:hover, .tile.color-9.active {
    color: #8C7676;
    background-color: white;
}

.tile.color-0:hover hr, .tile.color-0.active hr {
    color: #8BC34A;
    background-color: #8BC34A;
}

.tile.color-1:hover hr, .tile.color-1.active hr {
    background-color: #3C3B5C;
    color: #3C3B5C;
}

.tile.color-2:hover hr, .tile.color-2.active hr {
    background-color: #FF9000;
    color: #FF9000;
}

.tile.color-3:hover hr, .tile.color-3.active hr {
    background-color: #FBD400;
    color: #FBD400;
}

.tile.color-4:hover hr, .tile.color-4.active hr {
    background-color: #7B3C59;
    color: #7B3C59;
}

.tile.color-5:hover hr, .tile.color-5.active hr {
    background-color: #0D7377;
    color: #0D7377;
}

.tile.color-6:hover hr, .tile.color-6.active hr {
    background-color: #55B3F3;
    color: #55B3F3;
}

.tile.color-7:hover hr, .tile.color-7.active hr {
    background-color: #B31313;
    color: #B31313;
}

.tile.color-8:hover hr, .tile.color-8.active hr {
    background-color: #99B0C2;
    color: #99B0C2;
}

.tile.color-9:hover hr, .tile.color-9.active hr {
    background-color: #8C7676;
    color: #8C7676;
}
