@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);

body {
    font-family: "Open Sans", sans-serif;
}

.lh-nav {
    line-height: 100px;
}

.vh-40 {
    height: 40vh;
}

.gray-gradient {
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f2f2 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.dib-va-container {
    display: table;
}

.dib-va-inner {
    display: table-cell;
    vertical-align: middle;
}

.pab-100px {
    padding-bottom: 100px;
}
