@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);

body {
    font-family: "Open Sans", sans-serif;
}

.lh-nav {
    line-height: 100px;
}

.vh-40 {
    height: 40vh;
}

.bg-1 {
    background-color: #29C6CD;
}

.text-light {
    color: white;
}

.dib-va-container {
    display: table;
}

.dib-va-inner {
    display: table-cell;
    vertical-align: middle;
}

.pab-100px {
    padding-bottom: 100px;
}

.content a {
    text-decoration: none;
    transition: color .15s ease-in;
    color: #F19584;
}

.content a:hover   {
    opacity: .5;
    transition: all .15s ease-in;
}
